.inside-article {
  width: 400px;
  border-radius: 25px;
  box-shadow: 0 0 5px 1px #d6d6d6;
}
img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
h2, p {
  padding: 0 15px;
}
footer {
  padding: 0 15px 15px 15px;
}