    .container {
      width: 500px;
      height: 400px;
      border: 1px solid black;
      margin: 50px auto;
      background-color: orange;
    }
    .text {
      font-size: 40px;
      text-align: center;
      line-height: 300px;
      font-weight: 900;
      color: black;
    }