@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
h1 {
  font-family: "Jua", sans-serif;
  color: rgb(0, 0, 172);
  text-align: center;
  line-height: 50px;
  text-shadow: 0px 0px 10px skyblue;
  letter-spacing: 0.1em;
}
legend {
  font-weight: 700;
}
.container {
  width: 470px;
  margin: 0 auto;
}
li {
  list-style-image: url('../image/circle-check-solid-full.svg');
  margin-bottom: 5px;
}
.ment {
  height: 70px;
  display: flex;
  align-items: center;
}
textarea {
  width: 172px;
}
.buttonGroup {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}
.twoButton { 
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 3px 1px;
}
.twoButton:hover {
  background-color: #222;
  color: #fff;
}
.twoButton:active {
  background-color: red;
}
.chatBotImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px 1px #111;
}
.chatBot {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
form label {
  display: inline-block;
  width: 120px;
}
.ment label {
  width: 124px;
}
form input[type=text], input[type=password], input[type=email], input[type=tel] {
  border: 1px solid rgb(255, 153, 153);
  padding: 3px;
  border-radius: 3px;
}