@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
h1 {
  font-family: "Jua", sans-serif;
  color: rgb(0, 0, 172);
  text-align: center;
  line-height: 50px;
  text-shadow: 0px 0px 10px skyblue;
  letter-spacing: 0.1em;
}
legend {
  font-weight: 700;
}
.square {
  list-style: square;
}
.buttonGroup {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}
.twoButton { 
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 3px 1px;
}