.container {
  width: 100%;
  max-width: 1400px;
  margin: 30px auto;
  border: 1px solid #222;
}
h1 {
  text-align: center;
}
.gallery-frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}
.gallery-slot {
  position: relative;
}
img {
  width: 300px;
  height: 200px;
}
.photo-intro {
  position: absolute;
  width: 300px;
  height: 130px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: 1s ease;
}
.gallery-frame .gallery-slot:hover .photo-intro {
  transform: translateY(-135px);
  opacity: 1;
}
.photo-intro h2, .photo-intro p {
  color: #222;
  text-align: center;
}

