* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 400px;
  padding-top: 5px;
}
h1 {
  text-align: center;
  margin-bottom: 10px;
}
ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
img {
  border: 1px solid #222;
}
.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
.bigImg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}